.burger {
  display: inline-block;
  overflow: visible;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  background-color: transparent;
  width: 40px;
  height: 24px;

  &-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
    top: 2px;
    transition: background-color 0s linear 0.13s;

    position: absolute;
    display: block;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #2c1887;

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 40px;
      height: 4px;
      transition-timing-function: ease;
      transition-duration: 0.15s;
      transition-property: transform;
      border-radius: 4px;
      background-color: #2c1887;
    }

    &::before {
      top: 10px;
      transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
                  transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    &::after {
      bottom: -10px;
      top: 20px;
      transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
                  transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &-box {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  &.burger-active {
    &-inner,
    &-inner::before,
    &-inner::after {
      background-color: #fff;
    }
    &-inner{
      transition-delay: 0.22s;
      background-color: transparent !important;
    }
    &-inner::before {
      top: 0;
      transform: translate3d(0, 10px, 0) rotate(45deg);

      transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s,
                  transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
    }
    &-inner::after {
      top: 0;
      transform: translate3d(0, 10px, 0) rotate(-45deg);

      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
                  transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
    }
  }
}
