body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  color: #000;
}

.main {
  flex: 1 0 auto;
}

.footer,
.header {
  flex-shrink: 0;
}

.container {
  max-width: var(--with-container);
  padding: 0 15px;
  margin:  0 auto;
}
