* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  line-height: 1;
  height: 100%;
  width: 100%;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
}

a:hover,
a:active {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

input,
select {
  color: currentColor;
  appearance: none;
}

textarea{
  overflow-y: auto;
  resize: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  color: currentColor;
}

input,
textarea {
  &::placeholder {
     transition: opacity 0.3s ease;
  }

  &:focus {
     &::placeholder {
        opacity: 0;
     }
  }
}

// disable animations for 'prefers-reduced-motion: reduce'
@media (prefers-reduced-motion: reduce) {
  * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
  }
}
