body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: sans-serif;
  text-rendering: optimizeSpeed;
  color: var(--color-text);
}

.main {
  flex: 1 0 auto;
}

.footer,
.header {
  flex-shrink: 0;
}

.container {
  max-width: var(--with-container);
  margin:  0 auto;
  padding: 0 15px;
}

